<%= form_with(model: [:admin, rooms]) do |f| %>
  <label> Nom de la chambre chat </label>
  <%= f.text_field :name %><br/>
  <label> Selectez Si le chat est public ou privé </label>
  <%= f.select :public_room, options_for_select([['Public', true], ['Privé', false]]) %><br/>
<%= f.submit "Créer la chat room"%>

<% end %>