<h2>Chat-Room ||<%= @room.name %>|| </h2><br/><br/>

<div class="chat-box">
  <h4> Messages </h4>
    <% @messages.each do |message| %>
      <td><%= message.content %>
        <p style="color: green;"><%= User.find(message.user_id).email %></p>
      </td><br/>
    <% end %><br/><br/>
    <hr>

  <%= render 'messages/form', message: @room.messages %>

</div>
